<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group m-2">
      <label for="exampleInputEmail1">Email address</label>
      <input required type="email" ngModel name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">  
    </div>
    <div class="form-group m-2">
      <label for="exampleInputPassword1">Password</label>
      <input required type="password" ngModel name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button  type="submit" class="btn btn-primary m-2">{{loginPage ? 'Login' : 'Sign-Up'}}</button>
    <button type="button" (click)="toggleLoginMood()" class="btn border m-2 text-primary">Switch {{loginPage ? 'Sign-Up' : 'Login'}}</button>
</form>

<div>
  <div *ngIf="error != ''" class="alert alert-danger">{{error}}</div>
</div>