<form #form="ngForm" (submit)="log(category)">

    <div class="form-group">
        <label for="">Title</label>
        <input 
        [(ngModel)]="model.title"
        type="text" 
        class="form-control mt-1" 
        name="title" id="" 
        placeholder="Movie Title"
        #title="ngModel"
        required >

        <div *ngIf="title.invalid && form.submitted" class="alert alert-danger mt-1">
            <div *ngIf="title.errors['required']">
                Title is required.
            </div>
        </div>
    </div>

    <div class="form-group mt-4">
        <label for="">Description</label>
        <textarea
        [(ngModel)]="model.description"
        class="form-control mt-1" 
        required
        name="description"
        placeholder="Movie Description..." 
        cols="70" rows="3"
        #description="ngModel">
        </textarea>

        <div *ngIf="description.invalid && form.submitted" class="alert alert-danger mt-1">
            <div *ngIf="description.errors['required']">
                Description is required.
            </div>
        </div>
    </div>

    <div class="form-group mt-4">
        <label for="">Image URL</label>
        <input
        [(ngModel)]="model.url"
        type="url" 
        class="form-control mt-1" 
        name="url" id="" placeholder="Movie/Image/Url"
        #url="ngModel">
    </div>


    <div class="form-group mt-4">
        <label for="">Category</label>
        <div >
            <select class="form-select mt-1"
            [(ngModel)]="model.categoryId"
            name="category"
            #category="ngModel">
            <option disabled value="-1">Seçiniz</option>
                <option *ngFor="let item of categories; let i = index" [value]="item.id">{{item.categorie}}</option>
            </select>
            <div *ngIf="category.untouched && form.submitted" class="alert alert-danger mt-1">
                    Category must be selected.
                </div>
        </div>
        
    </div>
    <button 
    type="submit"  
    class="btn btn-primary mt-4"
    >Submit</button>
</form>