<p>create-movie works!</p>

<form >
    <div class="form-group">
        <label for="">Title</label>
        <input #title type="text" class="form-control mt-1" name="" id="" placeholder="Movie Title">
    </div>
    <div class="form-group mt-4">
        <label for="">Description</label>
        <textarea #description class="form-control mt-1" name="description" placeholder="Movie Description..." cols="70" rows="3"></textarea>
    </div>
    <div class="form-group mt-4">
        <label for="">Image URL</label>
        <input #url type="url" class="form-control mt-1" name="" id="" placeholder="Movie/Image/Url">
    </div>
    <div class="form-group mt-4">
        <label for="">Category</label>
        <div >
            <select class="form-select mt-1" #categoryId>
                <option *ngFor="let item of categories; let i = index" [value]="item.id">{{item.categorie}}</option>
            </select>
        </div>
        
    </div>
    <button 
    type="submit"  
    class="btn btn-primary mt-4"
    (click)="createMovie(title, description, url, categoryId)"
    >Submit</button>
</form>